@model PostVM
@{
    ViewBag.Title = "AddPost";
}

@using (Html.BeginForm("AddPost","Panel",FormMethod.Post,new {enctype ="multipart/form-data"}))
{
    <div>
        @Html.TextBoxFor(x => x.PostInstance.Title, new { @class = "form-control" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.PostInstance.TitleDescription, new { @class = "form-control" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.PostInstance.Description, new { @class = "form-control" })
    </div>
    <div>
        @if (Model.Categories != null)
        {
            @Html.DropDownListFor(x => x.PostInstance.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Lutfen seciniz", new { @class = "form-control" })
        }
    </div>
 
    <div>
        <input type="file" name="image" value="" />
    </div>
  
    <div>
        <button class="btn btn-primary">
            Ekle
        </button>
    </div>
}

