@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
.header-wrapper {
    padding:50px;
    background-color: #f5f5f5 !important;
}
.navbar-inverse{
    background-color: inherit;
    border: none;
}
.introduce-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
.flow-div{
    background-color:lightcoral;
}
.search-bar{
    width:100%;
}
.search-bar > form{

    height: 40px;
    background-color: white;
}
.search-bar > form > input {
    border: none;
    padding: 10px;
    font-size:14px;
}
.search-bar > form > input:focus {
    outline: none;
}
.search-bar > form > button{
    background-color:white;
    float:right;
    border: none;
    height:100%;
    width: 45px;
}


/*--------- About Widget ---------*/

.about-widget{
    align-items:center;
    padding:30px 30px 15px 30px;
    margin-top:30px;
    background-color: white;
}
.about-me {
    display: flex;
    flex-direction: column;
}

.about-me > p {
    font-size: 14px;
}
.about-widget > img{
    margin: 0 auto;
}



/*--------- Social Widget ---------*/
.social-container > a {
    border-radius: 50% !important;
    background-color: #aba7a7;
    border: none
}
.social-widget > h3 {
    margin-bottom: 25px !important;
}
.social-container > a:hover{
    background-color: #918e8e;
}
.social-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 50px 15px;
    margin-top: 30px;
    background-color: white;
}
.btn-floating {
    padding: 10px 14px 10px 14px;
}


/*--------- Latest Post Widget && Categories Widget  ---------*/

.latest-widget, .categories-widget{
    align-items: center;
    padding: 30px 30px 15px 30px;
    margin-top: 30px;
    background-color: white;
}
.latest-widget > ul, .categories-widget > ul{
    list-style:none;
}

.latest-widget > ul > li:last-child, .categories-widget > ul > li:last-child {
    border-bottom:none !important;
}

.latest-widget > h3, .categories-widget > h3, .tag-widget > h3{
    margin-top:10px;
    margin-bottom:20px; 
}
    .latest-widget > ul > li, .categories-widget > ul > li {
        margin-top: 10px;
        padding: 5px 0px;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
    }


    .latest-widget > ul > li > a.link-hover:after, .categories-widget > ul > li > a.link-hover:after {
        box-sizing: border-box;
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background-color: red;
        position: absolute;
        animation: slide 0.5s forwards;
        text-overflow: clip;
    }

.latest-widget > ul > li > a, .categories-widget > ul > li > a{
    display:inline-block;
    position:relative;
    text-decoration:none;
    color:black;
    padding-bottom: 5px;
}

/*--------- Tag Widget  ---------*/
.tag-widget {
    align-items: center;
    padding: 30px 30px 15px 30px;
    margin-top: 30px;
    background-color: white;
}
.tag-cloud > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    margin:5px;
    padding:4px;
}
.tag-cloud > a:hover{
    background-color:cornsilk;
    transition: 0.5s;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media only screen and (max-width: 1200px) {
    .btn-floating {
        padding: 8px 12px 8px 12px;
    }
}
@keyframes slide {
    0% {
        width:0%;
    }

    100% {
        width: 100%;
    }
}