@{
    ViewBag.Title = "Home Page";
}

<ul class="post-flow-wrapper">
    <li class="post-main">
        <div class="post">
            <div class="post-thumbnail">
                <a href="#">
                    <img src="https://via.placeholder.com/1500x1000" />
                </a>
            </div>
            <div class="post-details">
                <header class="post-header">
                    <h3 class="post-title">
                        <a href="">Post Title Hi There!</a>
                    </h3>
                </header>
                <div class="post-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non elit quis odio tempor tristique. Fusce convallis consequat hendrerit. Integer orci nibh, sollicitudin id dui non, tincidunt mollis eros. Morbi quam metus, dictum in ex non, sagittis placerat nulla. Sed placerat nec dolor eu gravida. Nam non finibus nisl. Sed vitae ipsum ac libero bibendum finibus non et mauris. Pellentesque scelerisque augue vel diam mattis lacinia. Ut fermentum, enim eu.
                    </p>
                </div>
                <div class="post-last-details">
                    <div class="post-send-time">
                        <i class="far fa-calendar-alt">
                            March 14, 2015
                        </i>
                    </div>
                    <div class="post-category">
                        <i class="far fa-folder">
                            <a href="">Category</a>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>



<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
<script src="@Url.Content("~/Scripts/Js/App.jsx")"></script>